body {
  background: #000;
  font-family: var(--font-ubuntu);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar-navigation {
  background-color: #121212;
  border-radius: 8px;
  padding: 16px 0 0 16px;
}

.sidebar-navigation .logo {
  display: flex;
  border-radius: 8px;
  padding: 16px 0 0 16px;
  background-color: #121212;
}

.logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 20px;
  padding: 0 20px 10px 20px;
}

.sidebar ul li {
  padding: 10px 0;
}

.sidebar nav ul a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  font-family: var(--font-dm-sans);
  transition: color .3s ease-in-out;
}

.sidebar nav ul a:hover {
  color: #fff;
}

.library {
  background-color: #121212;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 4px 8px;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}

.library .library-content {
  display: flex;
  justify-content: space-between;
}

.library .library-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #b3b3b3;
  background: transparent;
  border: 0px;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  text-align: center;
  text-decoration: none;
  text-transform: none;
  padding: 20px 10px;
  transition: color .3s ease-in-out;
}


.library .fa-plus {
  position: relative;
  cursor: pointer;
}

.library .fa-plus:hover::before {
  content: "Criar playlist ou pasta";
  font-family: var(--font-poppins);
  font-weight: 400;
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.library .fa-plus:hover::before {
  visibility: visible;
  opacity: 1;
}



.library .library-button:hover {
  color: #fff;
}

.library .library-button .fa {
  font-size: 20px;
  margin-right: 10px;
  font-weight: 300;
  padding-right: 8px;
}

.library .library-content .fa-plus {
  margin: 24px 10px;
}

.section-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  background-color: #242424;
  color: #b3b3b3;
  font-weight: 600;
  font-size: 14px;
  margin: 8px 0px;
  padding: 16px 20px;
  border-radius: 10px;
}

.section-playlist .section-playlist-content {
  display: flex;
  flex-direction: column;
}

.section-playlist-content .text {
  padding-bottom: 14px;
  color: #fff;
  font-family: var(--font-roboto);
}

.section-playlist-content .title {
  font-weight: 700;
}

.section-playlist-content .subtitle {
  font-weight: 500;
  font-size: 12px;
}

.section-playlist-content .section-playlist-button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  font-family: var(--font-ubuntu);
  text-decoration: none;
  text-transform: none;
  padding: 10px;
  margin-top: 12px;
  border: 0px;
  width: 113px;
  border: 1px solid #fff;
}

.section-playlist-content .section-playlist-button:hover {
  scale: 1.06;
}

.sidebar .cookies {
  margin: 15px 20px;
}

.sidebar .cookies a {
  color: #b3b3b3;
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
}

.sidebar .cookies a:hover {
  text-decoration: underline;
}

.languages .languages-button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #878787;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  width: 170px;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}

.languages .languages-button:hover {
  scale: 1.03;
  border: 1px solid #fff;
}

.languages .languages-button span.language {
  font-weight: 600;
  font-family: var(--font-poppins);
}

/*
  # FOOTER
*/

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.footer .footer-title {
  color: #ffffff;
  font-family: var(--font-rubik);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .footer-subtitle {
  color: #ffffff;
  font-family: var(--font-ubuntu);
  font-size: 14px;
  font-weight: 500;
}

.footer button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: all .4s ease-in-out;
}

.footer button:hover {
  z-index: 999;
  scale: 1.02;
  color: #fff;
  background-color: transparent;
}

#artistList {
  display: none;
}








